<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/260497237c.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./tailwind.config.js"></script>
    <title>CSV Files</title>
  </head>
<style>
  .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.size-10 {
  width: 2.5rem;
  height: 2.5rem;
}
.h-8 {
  height: 2rem;
}
.h-\[4\.5rem\] {
  height: 4.5rem;
}
.h-\[6rem\] {
  height: 6rem;
}
.w-32 {
  width: 8rem;
}
.w-\[4\.5rem\] {
  width: 4.5rem;
}
.w-\[6rem\] {
  width: 6rem;
}
.w-full {
  width: 100%;
}
.max-w-\[23rem\] {
  max-width: 23rem;
}
.max-w-lg {
  max-width: 32rem;
}
.list-disc {
  list-style-type: disc;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-blue-950 {
  --tw-border-opacity: 1;
  border-color: rgb(23 37 84 / var(--tw-border-opacity));
}
.bg-\[\#6f6af8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(111 106 248 / var(--tw-bg-opacity));
}
.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.pl-8 {
  padding-left: 2rem;
}
.text-center {
  text-align: center;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-\[0\.85rem\] {
  font-size: 0.85rem;
}
.text-\[10px\] {
  font-size: 10px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
</style>
  <body>
    <div class="mx-auto max-w-lg p-4">
      <img
        src="https://partner.edviron.com/static/media/edvironLogo.5fa7db9e891a7fab0ff09f1b7dfaf096.svg"
        alt="logo"
        class="mb-4 h-8"
      />
      <div class="max-w-[23rem] space-y-8 rounded-3xl bg-[#6f6af8] p-8">
        <h4 class="text-center text-lg font-medium tracking-wide text-white">
          Transaction Success Report
        </h4>
        <div class="flex w-full flex-col items-center justify-center">
          <div
            class="flex h-[6rem] w-[6rem] items-center justify-center rounded-full bg-white"
          >
            <div
              class="flex h-[4.5rem] w-[4.5rem] items-center justify-center rounded-full bg-green-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10 text-white"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m4.5 12.75 6 6 9-13.5"
                />
              </svg>
            </div>
          </div>
          <h6 class="mt-8 text-sm text-white">You have been paid</h6>
          <h3 class="mt-2 text-3xl font-semibold text-white">
            ₹ <%= transactionDetails?.transactionAmount %>
          </h3>
          <h6 class="mt-6 text-xs text-white">
            <%= transactionDetails?.transactionDate %> | Transaction ID: <%=
            transactionDetails?.transactionId %>
          </h6>
          <span class="mt-4 w-32 border border-b border-blue-950"></span>
        </div>
        <div class="w-full">
          <h4 class="text-lg font-medium text-white">Student Details-</h4>
          <ul class="mt-2 list-disc pl-8 text-[0.85rem] text-white">
            <li>
              Student Name:
              <span class="ml-2 font-semibold"
                ><%= studentDetails?.studentName %></span
              >
            </li>
            <li>
              Student Email ID:<span class="ml-2 font-semibold"
                ><%= studentDetails?.studentEmailId %></span
              >
            </li>
            <li>
              Student Phone No:<span class="ml-2 font-semibold"
                ><%= studentDetails?.studentPhoneNo %></span
              >
            </li>
          </ul>
        </div>
      </div>
      <p class="mt-5 max-w-[23rem] text-center text-[10px] text-black">
        if you have any query please contact us at contact@edviron.com
      </p>
    </div>
  </body>
</html>